canvas{
	width: 100%;
	height: 100%;
}

body, html{
	height: 100%;
	margin: 0;
	background-color: black;
	color:#EB8921;
	font-family: raleway;
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
}

